<!DOCTYPE html>

<html lang="en" class="w-100 h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Base {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/badge.css') }}">
    {% block head %} {% endblock %}
</head>
<body class="w-100 h-100">
<div class="container-fluid" style="width: 98vw; height: 98vh">
    <nav class="navbar navbar-expand-lg navbar-light mb-3" style="background-color: #faf8f7;">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('index') }}">ТРАНСКРИПЦИИ</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('dictionary') }}">СЛОВАРЬ</a>
                    </li>
                    {% block nav %}
                    {% endblock %}
                </ul>
            </div>
        </div>
    </nav>
    <div id="alerts" class="fixed-top"></div>
    {% block content %}
    {% endblock %}
</div>
<script src="{{ url_for('static', path='js/jquery/jquery-3.5.1.slim.min.js') }}"></script>
<script src="{{ url_for('static', path='js/bootstrap/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', path='js/bootstrap/popper.min.js') }}"></script>
{% block scripts %}
{% endblock %}
</body>
</html>